name: Build IPA

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode.app

      - name: Build
        run: |
          xcodebuild \
          -scheme KeePassium \
          -configuration Release \
          -archivePath build/KeePassium.xcarchive \
          archive

      - name: Export IPA
        run: |
          xcodebuild -exportArchive \
          -archivePath build/KeePassium.xcarchive \
          -exportOptionsPlist ExportOptions.plist \
          -exportPath build

      - name: Upload IPA
        uses: actions/upload-artifact@v3
        with:
          name: KeePassium
          path: build/*.ipa
