name: Build IPA

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-14

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Resolve Swift Packages
        run: xcodebuild -resolvePackageDependencies

      - name: Create build folder
        run: mkdir -p build

      - name: Archive (NO SIGNING)
        run: |
          xcodebuild \
          -scheme KeePassium \
          -configuration Release \
          -destination 'generic/platform=iOS' \
          -archivePath build/KeePassium.xcarchive \
          CODE_SIGNING_ALLOWED=NO \
          archive

      - name: Export IPA (NO SIGNING)
        run: |
          xcodebuild -exportArchive \
          -archivePath build/KeePassium.xcarchive \
          -exportPath build \
          -exportOptionsPlist /dev/null

      - name: Upload IPA
        uses: actions/upload-artifact@v4
        with:
          name: KeePassium
          path: build
